.page {
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputSearchBarContainer {
  width: 30vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-tertiary);
}
.inputSearchBarContainer label {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-secondary);
}
.inputSearchBarContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 10px;
}
