.page {
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  min-height: 70px;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  padding: 0px 20px;
  z-index: 1000;
}
.header span {
  color: var(--color-primary);
}
.burgerButton {
  display: none;
}
.iconHeader h1 {
  font-size: 24px;
  cursor: pointer;
}
.textHiddenBeforeAnim {
  opacity: 0;
}
.navHeader {
  width: 70%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.inputSearchBarContainer {
  min-width: 30vw;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-tertiary);
  gap: 8px;
  padding: 0 8px;
}
.searchIconWrapper {
  font-size: 40px;
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-foreground);
}
.inputSearchBarContainer label {
  color: #545454;
}

.inputSearchBarContainer input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 10px;
  background: none;
}
.linkIconHeader {
  display: flex;
  gap: 20px;
  align-items: center;
}
.linkIconHeader button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: var(--color-tertiary);
}
.linkIconHeader svg {
  transition: all 0.3s ease-in-out;
}
.linkIconHeader svg:hover {
  color: var(--color-primary);
  transform: scale(1.2);
}
.navLinksMobile {
  display: none;
}
.asideBar {
  width: max-content;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  background-color: var(--color-tertiary);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.asideBar button {
  width: max-content;
  color: var(--color-foreground);
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.asideBar button:hover {
  color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
  background-color: var(--color-primary);
}
.heroSection {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}

.banner {
  position: relative;
  width: 70%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.imageWrapper {
  position: absolute;
  inset: 0;
}

.bannerImage {
  object-fit: cover;
  object-position: center top;
}

.bannerContent {
  color: white;
  background-color: #00000047;
  backdrop-filter: blur(8px);
  padding: 15px;
  border-radius: 10px;
  margin: 80px 0 0 20px;
}
.bannerContent h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-primary);
}
.bannerContent h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.bannerContent button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-foreground);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.bannerContent button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
.newAndBestsellersSection,
.promoBanner,
.limitedEditionContainer,
.saleContainer {
  background-color: rgb(255, 255, 255);
  margin: 30px 50px;
  border-radius: 10px;
  padding: 10px;
}
.newAndBestsellersSection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
/* Best Sellers & New Collection Section */
.bestSellersSection {
  background: linear-gradient(to right, rgb(255, 170, 85), rgb(251, 210, 199));
}
.productShowcase {
  background: linear-gradient(to right, #fbd2c7, #b1b3b8ab);
}
.bestSellersSection,
.productShowcase {
  width: calc(100% / 4);
  min-width: 220px;
  padding: 10px 0;
  position: relative;
  border-radius: 10px;
}
.bestSellersSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 170, 85), rgb(251, 210, 199));
  z-index: -1;
}
.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;
}
.sectionTitle {
  font-size: 18px;
}
.navigationControls {
  display: flex;
  gap: 10px;
}

.navButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-tertiary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}

.navButton:hover,
.navButton:focus {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}
.productShowcase {
  width: calc((100% / 4) * 3);
}
.productsContainerBestSellers,
.productShowcaseContent {
  padding: 0 15px;
}
.productShowcaseContent {
  display: flex;
  gap: 25px;
}

.productShowcaseContent > .productCard {
  width: calc(100% / 3);
}
/* Product Card */
.productCard {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%;
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.productCard:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  aspect-ratio: 1/1;
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transition: transform 0.3s ease;
}

.productCard:hover .productImage {
  transform: scale(1.05);
}

.statusBadge {
  position: absolute;
  top: 3%;
  right: 3%;
  transform: rotate(15deg);
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
  z-index: 1;
}

.statusLimited {
  background-color: #3b82f6;
}

.statusSale {
  background-color: #ef4444;
}

.statusNew {
  background-color: #10b981;
}

.productInfo {
  padding: 16px;
}

.productTitle {
  font-size: 18px;
  margin-bottom: 4px;
}

.productPrice {
  font-weight: bold;
}

.hoverOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 50%;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlayHidden {
  opacity: 0;
  visibility: hidden;
}

.overlayVisible {
  opacity: 1;
  visibility: visible;
}
.productCard:focus-within .hoverOverlay,
.productCard:focus .hoverOverlay {
  opacity: 1;
  visibility: visible;
}
.favoriteButton {
  padding: 8px;
  border-radius: 50%;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  display: inline-flex;
}

.favoriteButton:hover,
.favoriteButton:focus {
  background-color: var(--color-tertiary);
  outline: 2px solid #000;
}

.heartIcon {
  width: 20px;
  height: 20px;
}
.heartFilled {
  color: var(--color-primary);
}
.cartButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-primary);
  color: var(--color-foreground);
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cartButton:hover,
.cartButton:focus {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  outline: 2px solid #000;
}

.cartIcon {
  width: 16px;
  height: 16px;
}
/* PromotionalBanner */
.promoBanner > section {
  width: 100%;
  min-height: 85vh;
  margin: 0;
}
.promoBanner > section > .bannerContent > h2 {
  color: var(--color-tertiary);
  font-weight: 400;
}

/* Limited Edition */
.limitedEditionContainer > section {
  width: 100%;
}
/* Sale */
.saleContainer {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
.saleContainer > article {
  width: 320px;
  min-width: 270px;
}
/*product filter page */
.productsFilterContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  padding: 20px;
  min-height: 50vh;
  background-color: var(--color-tertiary);
  color: var(--color-foreground);
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.productsFilterContainer fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.productsFilterContainer legend {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--color-foreground);
}

.productsFilterContainer label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--color-foreground);
}

.productsFilterContainer input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--color-foreground);
}

.productsFilterContainer input[type="number"] {
  width: 100px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--color-foreground);
  border: none;
  background-color: var(--color-tertiary);
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 14px;
  color: var(--color-foreground);
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}
.productsFilterContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.productsFilterContent aside {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.displayAllProducts {
  width: 95%;
  margin: 0 auto;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
.displayAllProducts article {
  width: calc((100% / 5) - 20px);
}
/*single product clicked*/
.oneProduct {
  display: flex;
  gap: 20px;
  margin: 10px 10px 50px 10px;
  padding: 20px;
  min-height: 80vh;
  color: var(--color-foreground);
  border-radius: 12px;
  overflow: hidden;
}
.oneProduct .productImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 60%;
}

.oneProduct .productImage .bannerImage {
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center top;
}
.thumbnails {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.thumbnails > div {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex-shrink: 0;
  transition: all 0.3s ease;
}
.thumbnails > div:hover {
  transform: scale(1.05);
}
.thumbnails > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.productDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  min-height: 400px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.priceContainer .regularPrice {
  text-decoration: line-through;
}
.productDetails select,
.productDetails input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--color-foreground);
  background-color: var(--color-tertiary);
}
.productDetails input::-webkit-inner-spin-button,
.productDetails input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.productDetails input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.productDetails input {
  text-align: center;
}
.productDetails .addToCartButton {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--color-foreground);
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}

.productDetails button:hover {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}
/*collapse*/
.collapse {
  width: 100%;
}
.summary {
  width: 100%;
  border: none;
  position: relative;
  z-index: 1;
  list-style: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  transition: background-color 0.3s ease;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summary svg {
  font-size: 24px;
  width: 32px;
  height: 32px;
  align-content: center;
}
.contentWrapper {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s ease;
}
.collapse .open {
  max-height: 500px;
  transition: max-height 1s ease;
}
.content {
  border-radius: 0 0 10px 10px;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-size: 18px;
  padding: 10px;
}
.content p {
  margin-bottom: 10px;
}
/*contact page*/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  min-height: calc(100vh - (10vh + 100px));
  position: relative;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  transition: none;
}
.contact form label {
  font-size: 18px;
}
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
}
.contact form textarea {
  resize: none;
}
.contact form button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--color-foreground);
  background-color: var(--color-primary);
  transition: background-color 0.3s ease;
}
.contact form button:hover {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  width: 100%;
  min-height: 100px;
  margin: 0;
}
.footerLinks {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* mentions legales */
.mentions {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px 20px;
  background-color: var(--color-tertiary);
  color: var(--color-foreground);
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 28px;
}

.mentions h1 {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--color-secondary);
}

.mentions section {
  margin-bottom: 30px;
}

.mentions h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: var(--color-secondary);
}

.mentions p {
  font-size: 16px;
  margin: 0;
  color: var(--color-foreground);
}
.mentions ul {
  padding-left: 20px;
  margin: 10px 0;
}

.mentions li {
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--color-foreground);
  list-style: disc;
}

.mentions a {
  color: var(--color-secondary);
  text-decoration: underline;
  transition: color 0.2s;
}

.mentions a:hover {
  color: var(--color-secondary);
}
.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  min-height: calc(100vh - (10vh + 100px));
}
.notFoundPage h1 {
  font-size: 32px;
}
.notFoundPage p {
  font-size: 18px;
}
.notFoundPage a {
  background-color: var(--color-primary);
  color: var(--color-foreground);
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.notFoundPage a:hover,
.notFoundPage a:focus {
  background-color: var(--color-tertiary);
  outline: 2px solid #000;
}
@media (max-width: 1024px) {
  .heroSection {
    padding: 10px;
  }
  .heroSection,
  .newAndBestsellersSection,
  .promoBanner,
  .limitedEditionContainer,
  .saleContainer {
    margin: 10px;
  }
  .productShowcase {
    width: 100%;
  }
  .bestSellersSection {
    display: none;
  }
  .promoBanner > section .bannerImage {
    object-position: 70% 50%;
  }
  .displayAllProducts article {
    width: calc((100% / 4) - 20px);
  }
}
@media (max-width: 767.98px) {
  .iconHeader {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .iconHeader h1 {
    width: max-content;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 20px;
  }
  .burgerButton {
    display: block;
    font-size: 40px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-tertiary);
    display: inline-flex;
    align-items: center;
  }
  .burgerButton svg {
    transition: all 0.3s ease-in-out;
  }
  .burgerButton svg:hover {
    color: var(--color-primary);
    transform: scale(1.2);
  }
  .navHeader {
    display: none;
  }

  .navMobile {
    padding: 20px;
    position: fixed;
    top: 10vh;
    left: 0;
    min-width: 50vw;
    height: 100%;
    overflow-x: scroll;
    background-color: var(--color-secondary);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    border-radius: 0 0 10px 0;
    transition: all 0.3s ease-in-out;
    transform: translateX(-110%);
  }
  .open {
    transform: translateX(0);
  }

  .inputSearchBarContainer {
    width: 100%;
  }
  .navLinksMobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }
  .navLinksMobile button {
    width: max-content;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--color-tertiary);
    padding: 10px;
    border-radius: 10px;
  }
  .navLinksMobile button:hover {
    color: var(--color-secondary);
    transition: all 0.3s ease-in-out;
    background-color: var(--color-primary);
  }
  .linkIconHeader {
    align-self: center;
  }
  .asideBar {
    display: none;
  }

  .banner {
    width: 100%;
  }
  .bannerContent {
    margin: auto;
  }

  .productShowcaseContent {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }
  .productShowcaseContent > .productCard {
    min-width: calc((100% / 2) - 15px);
  }

  .mentions {
    padding: 30px 15px;
  }

  .mentions h1 {
    font-size: 26px;
  }

  .mentions h2 {
    font-size: 18px;
  }

  .mentions p {
    font-size: 15px;
    line-height: 24px;
  }
  .displayAllProducts article {
    width: calc((100% / 3) - 20px);
  }
  /*single product clicked*/
  .oneProduct {
    flex-direction: column;
    gap: 50px;
  }

  .oneProduct .productImage {
    width: 100%;
  }
  .thumbnails {
    width: 60%;
  }
  .thumbnails > div {
    width: calc((100% / 3) - 10px);
  }
  .productDetails {
    width: 100%;
  }
  .productDetails h2 {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .productDetails p {
    font-size: 16px;
    line-height: 24px;
  }
  .productDetails select,
  .productDetails input {
    font-size: 16px;
  }

  .productDetails button {
    font-size: 16px;
    padding: 10px 20px;
  }
  .productDetails .price {
    display: flex;
    gap: 10px;
  }

  .contact h2 {
    font-size: 20px;
  }

  .contact form label {
    font-size: 16px;
  }
  .contact form input,
  .contact form textarea {
    font-size: 16px;
  }
  .contact form button {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .allProducts {
    justify-content: space-between;
  }
  .displayAllProducts article {
    width: calc((100% / 2) - 20px);
  }
  .thumbnails {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .productShowcaseContent > .productCard {
    min-width: 100%;
  }
  .mentions {
    padding: 20px 10px;
  }

  .mentions h1 {
    font-size: 22px;
  }

  .mentions h2 {
    font-size: 16px;
  }

  .mentions p {
    font-size: 14px;
  }
  .notFoundPage h1 {
    font-size: 24px;
    text-align: center;
  }
  .notFoundPage p {
    font-size: 16px;
    text-align: center;
  }
  .notFoundPage a {
    font-size: 14px;
    text-align: center;
  }
  .displayAllProducts article {
    width: 100%;
  }
  .thumbnails {
    width: 100%;
  }
}
